<div id="main">

    <!-- Section -->
    <section class="wrapper style1">
        <div class="inner">
            <!-- 2 Columns -->
            <div class="flex flex-2">
                <div class="col col1">
                    <div class="image round fit">
                        <img src="~/Content/images/droppingin2.jpg" alt="" />
                    </div>
                </div>
                <div class="col col2">
                    <h3>About us</h3>
                    <p>We host skatecamps in the Kansas City area for kids of all ages and skill levels.</p>
                    
                    
                </div>
            </div>
        </div>
    </section>

    <!-- Section -->
    <section class="wrapper style2">
        <div class="inner">
            <div class="flex flex-2">
                <div class="col col2">
                    <h3>Safety</h3>
                    <p>Our classes are monitored by are instructors to make sure your children are learning in a safe environment. Helmets are required. Other safety equipment is encouraged. Skate safe!</p>
                    
                    
                </div>
                <div class="col col1 first">
                    <div class="image round fit">
                        <img src="~/Content/images/skatecampgroup2.jpg" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section -->
    <section class="wrapper style1">
        <div class="inner">
            <header class="align-center">
                <h2>Meet Our Instructors</h2>
               
            </header>
            <div class="flex flex-3">
                <div class="col align-center">
                    <div class="image round fit">
                        <img src="~/Content/images/Westontrophy2.jpg" alt="" />
                    </div>
                    <h4>Weston Sparks</h4>
                    <p>Weston is the owner of RideFourEver Skatepark. He's been skating for over 20 years. He's runs a skate school at the park ever Saturday and has been teaching kids to skate for 5 years. </p>
                    
                </div>
                <div class="col align-center">
                    <div class="image round fit">
                        <img src="~/Content/images/Stevephoto.jpg" alt="" />
                    </div>
                    <h4>Steve Davis</h4>
                    <p>Steve has been skating for the last 15 years. He's spent the last 5 summers at Woodward Skatecamp in Pennsylvania. We're so happy to have him this summer! </p>
                    
                </div>
                <div class="col align-center">
                    <div class="image round fit">
                        <img src="~/Content/images/JeremyRaab.jpg" alt="" />
                    </div>
                    <h4>Jeremy Raab</h4>
                    <p>Jeremy has been skating for over 30 years and still loves it. He helps out at the RideFourEver Skate School every Saturday. He loves teaching kids how to skate! </p>
                    
                </div>
            </div>
        </div>
    </section>

</div>