<div id="main">

    <!-- Section -->
    <section class="wrapper style1">
        <div class="inner">
            <!-- 2 Columns -->
            <div class="flex flex-2">
                <div class="col col1">
                    <div class="image round fit">
                        <img src="~/Content/images/droppingin2.jpg" alt="" />
                    </div>
                </div>
                <div class="col col2">
                    <h3>About us</h3>
                    <p>We host skatecamps in the Kansas City area for kids of all ages and skill levels.</p>
                    
                    
                </div>
            </div>
        </div>
    </section>

    <!-- Section -->
    <section class="wrapper style2">
        <div class="inner">
            <div class="flex flex-2">
                <div class="col col2">
                    <h3>Safety</h3>
                    <p>Our classes are monitored by are instructors to make sure your children are learning in a safe environment. Helmets are required. Other safety equipment is encouraged. Skate safe!</p>
                    
                    
                </div>
                <div class="col col1 first">
                    <div class="image round fit">
                        <img src="~/Content/images/skatecampgroup2.jpg" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section -->
    <section class="wrapper style1">
        <div class="inner">
            <header class="align-center">
                <h2>Aliquam ipsum purus dolor</h2>
                <p>Cras sagittis turpis sit amet est tempus, sit amet consectetur purus tincidunt.</p>
            </header>
            <div class="flex flex-3">
                <div class="col align-center">
                    <div class="image round fit">
                        <img src="~/Content/images/pic03.jpg" alt="" />
                    </div>
                    <p>Sed congue elit malesuada nibh, a varius odio vehicula aliquet. Aliquam consequat, nunc quis sollicitudin aliquet. </p>
                    <a href="#" class="button">Learn More</a>
                </div>
                <div class="col align-center">
                    <div class="image round fit">
                        <img src="~/Content/images/pic05.jpg" alt="" />
                    </div>
                    <p>Sed congue elit malesuada nibh, a varius odio vehicula aliquet. Aliquam consequat, nunc quis sollicitudin aliquet. </p>
                    <a href="#" class="button">Learn More</a>
                </div>
                <div class="col align-center">
                    <div class="image round fit">
                        <img src="~/Content/images/pic04.jpg" alt="" />
                    </div>
                    <p>Sed congue elit malesuada nibh, a varius odio vehicula aliquet. Aliquam consequat, nunc quis sollicitudin aliquet. </p>
                    <a href="#" class="button">Learn More</a>
                </div>
            </div>
        </div>
    </section>

</div>